@import "tailwindcss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --navbar-height:72px;
}
body {
  font-family: Inter, sans-serif;
  background: #F8FAFC;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font: inherit;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}